main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 50px;
  overflow: auto;
}
main>a{
  width: 95%;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: #8889;
  max-width: 1000px;
  text-decoration: none;
  color: black;
  display: grid;
  place-items: center;
}
main button{
  background-color: transparent;
  cursor: pointer;
}
.slack_github{
  margin-top: 10px;
  width: 30%;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
.slack_github img{
  width: 20px;
  margin: 10px;
  height: 20px;
}
