
header.profile{
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
}
header.profile .img{
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.profile div{
  width: 100%;
  display: grid;
  place-items: center;
}
.profile img{
  width: 80px;
}
#twitter{
  width: 100%;
  text-align: center;
}