@import url('./_profile.css');
@import url('./_links.css');
@import url('./_footer.css');
@import url('./_contact.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}
body{
  width: 100vw;
  height: 100vh;
}
::-webkit-scrollbar{
  display: none;
}
@keyframes loading {
  0%{
    scale: 0.9 0.9;
  }
  20%{
    scale: 0.8 0.8;
  }
  40%{
    scale: 0.75 0.75;
  }
  50%{
    scale: 0.8 0.8;
  }
  70%{
    scale: 0.9 0.9;
  }
  90%{
    scale: 0.95 0.95;
  }
  100%{
    scale: 1 1;
  }
}
.loading{
  width: 100vw;
  height: 70vh;
  display: inline-grid;
  place-items: center;
}
.loading img{
  width: 40px;
  height: 40px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}